.container {
	height: 100vh;
	display: flex;
	align-items: center;
}

.section {
	width: 33vw;
	height: 100%;
	display: flex;
	flex-flow: wrap;
	align-content: flex-start;
	overflow: hidden;
}

.smiley {
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	border: 3px solid black;
}

/* #happy-smiley:target {
	animation-name: response-smiley;
	animation-duration: 300ms;
	animation-iteration-count: 10;
	animation-timing-function: ease-in-out;
} */

.happy {
	background-color: lightgreen;
}

.okok {
	background-color: yellow;
}

.sad {
	background-color: red;
}

.eyes {
	display: flex;
	justify-content: space-evenly;
	width: 15vw;
	margin-top: 3.5vw;
}

.eye {
	width: 2vw;
	height: 2vw;
	background-color: whitesmoke;
	border-radius: 50%;
	border: 3px solid black;
}

.expression_happy {
	width: 7vw;
	height: 3.5vw;
	margin: auto;
	margin-top: 3.7vw;
	border-bottom-left-radius: 4.2vw;
	border-bottom-right-radius: 4.2vw;
	border: 3px solid black;
	background-color: whitesmoke;
}

.expression_sad {
	width: 7vw;
	height: 3.5vw;
	margin: auto;
	margin-top: 3vw;
	border-top-left-radius: 4.2vw;
	border-top-right-radius: 4.2vw;
	border: 3px solid black;
	background-color: whitesmoke;
}

.expression_okok {
	width: 7vw;
	height: 2vw;
	margin: 3vw auto;
	background-color: whitesmoke;
	border: 3px solid black;
	border-radius: 15px;
}

/* @keyframes response-smiley {
	25% {width: 16vw; height:16vw;}
	50% {width: 17vw; height:17vw;}
	75% {width: 16vw; height:16vw;}
	100% {width: 15vw; height:15vw;}
} */